@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src : url(NanumsquareR.ttf) format('truetype')
}

div {
    box-sizing : border-box;
}
body {
    margin: 0;
}
html {
    line-height : 1.15;/*기본 행간 높이*/
}
h2, p {
    margin: 0;
}

.mainBackground{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    font-family: 'NanumSquare';
    background-color: #f7f9fc;
}
.mainContainer{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.profile{
    display: flex;
    padding: 20px;
    background: white;
}
.profile-main{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
}
.profile-main img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.detailInfo {
    width: 85%;
    padding: 20px 0 20px 30px;
}
.detailInfo h2 {
    font-weight: 600;
    margin-bottom: 5px;
}
.detailInfo span{
    font-size: 14px;
    margin-bottom: 5px;
}
.detailInfo p {
    margin-bottom: 5px;
    color: #6fbaf8;
}
.profile-main .btn-bg {
    color: white;
    background-color: #6fbaf8 ;
}
.profile-main .btn-bg:hover {
    color: white;
    background-color: #309cf5 ;
}

.profile-info{
    width: 35%;
    padding: 20px;
}

th,td {
    padding: 10px;
}